datacenter = "${datacenter}"
primary_datacenter = "${primary_datacenter}"
encrypt = "qe3xJo9rtJSU/m8xgp7bB7PL357kNA85G1EBCV8jbE0="
log_level = "TRACE"
ports {
  grpc = 8502
  https = 8501
  dns = 53
}

connect = {
  enabled = true
}

ca_file = /consul/config/consul-ca.pem
verify_outgoing = true
verify_incoming = true
verify_server_hostname = true

auto_config {
  enabled = true
  server_addresses = [${server_address}]
}
